*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(112, 107, 107);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: white;
}

.instagram-login{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.insta-telefone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.insta-telefone img{
    height: 50rem;
}

.istagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(78, 85, 85, 0.719);
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

